.three-pane-scaffold {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  min-inline-size: 0;
  min-block-size: 0;
  overflow: hidden;
}

.three-pane-scaffold__pane {
  position: absolute;
  z-index: 0;
  min-inline-size: 0;
  min-block-size: 0;
}

.three-pane-scaffold__pane--levitated {
  z-index: 3;
}

.three-pane-scaffold__drag-handle {
  position: absolute;
  inset-block-start: 50%;
  z-index: 1;
  display: inline-flex;
  transform: translate(-50%, -50%);
  touch-action: none;
  user-select: none;
  cursor: col-resize;
}

.three-pane-scaffold__scrim {
  position: absolute;
  z-index: 2;
  inset: 0;
  overflow: hidden;
}

.levitated-pane-scrim {
  inline-size: 100%;
  block-size: 100%;
}
