.toggle-button {
  transition:
    border-radius var(--_toggle-button-effects-duration) var(--_toggle-button-effects-easing),
    background-color var(--_toggle-button-effects-duration) var(--_toggle-button-effects-easing),
    color var(--_toggle-button-effects-duration) var(--_toggle-button-effects-easing),
    border-color var(--_toggle-button-effects-duration) var(--_toggle-button-effects-easing);
}

.toggle-button[data-focus-visible] {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.toggle-button[data-disabled] {
  pointer-events: none;
  transition: none;
}

[dir='rtl'] .toggle-button .button__content {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  .toggle-button {
    transition: none !important;
  }
}
